* {
  box-sizing: border-box;
  transition: 0.3s all;
}

select,
button,
input {
  outline: none;
  border: 1px solid #ccc;
}

button:focus,
select:focus,
input[type=text]:focus {
  filter: drop-shadow(0 0 2px #009844);
}


button,
input[type=text] {
  line-height: 2em;
}

input[type=text] {
  padding: 0 1em;
}

button {
  background-color: #009844;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 0 2em;
  text-transform: uppercase;
  font: inherit;
  font-weight: bold;
}

button:focus,
button:hover {
  background-color: #006937;
}


.registration-form {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.registration-form__header {
  font-size: 2em;
  box-shadow: inset 0 -1px #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.registration-form__input-group {
      align-items: center;
  display: flex;
  justify-content: space-between;
}

.registration-form__input-group input[type=text],
.registration-form__input-group select {
  width: 200px;
}

.registration-form__input-group-fields {
  display: flex;
}

.registration-form__input-group-fields > label {
  display: flex;
  padding: 2px;
}

.registration-form__input-group-fields > label:focus-within {
  box-shadow: 0 0 2px 0 #009844;
}

.registration-form__input-group-fields > label input {
  margin-right: 10px;
}

.registration-form__input-group-fields > label + label {
  margin-left: 20px;
}

.registration-form__input-group > label {
  font-weight: bold;
  display: inline-block;
  width: 150px;
  margin-right: 10px;
}
.mandatory,
.registration-form__input-group-validation {
  color: red;
}
    
.registration-form__input-group-validation {
  min-height: 1.5em;
  text-align: right;
}

.registration-form__button-group {
  text-align: right;
}
