.App {
  max-width: 100vw;
}
/* @media only screen and (orientation:portrait){
  #root {
   height: 100vw;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
  }
}

@media only screen and (orientation:landscape){
  #root {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
} */