.field {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
}
.field .team {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 10%;
  padding-right: 0;
  height: 15vh;
}
.team.right {
  padding-right: 10%;
  padding-left: 0;
}
.field .team .player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 1.5em;
  text-transform: uppercase;
}
.info {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgba(0,0,0,0.3);
  border-bottom: 2px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
}
.divider {
  position: relative;
  height: 100%;
  width: 2px;
  opacity: 0.3;
  background-color: black;
}
.circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.3;
}
.goal-left {
  left: -75px;
}
.goal-right {
  right: -75px;
}
.score {

}